<div class="contextual">
<%= link_to_if_authorized l(:label_survey_new),
                          {:controller => 'surveys', :action => 'new', :project_id => @project},
                           :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_surveys) %></h2>

<%= render :partial => 'survey', :collection => @surveys %>

<p>
<%= l(:label_surveys_note) %>
</p>
