<div class="contextual">
<%= link_to_if_authorized 'new survey',
                          {:controller => 'surveys', :action => 'new', :project_id => @project},
                           :class => 'icon icon-add' %>
</div>

<h2>Surveys</h2>

<%= render :partial => 'survey', :collection => @surveys %>

<p>
Please make sure that you pressed the "Save" button after answering each question.<br />
Thank you for completing the Survey Questionnaire.
</p>
