<%= form_for @survey, :url => {:controller => 'surveys', :action => 'create', :project_id => @project}, :html => {:id => 'survey-form'} do |f| %>
     <%= render :partial => 'surveys/form', :locals => {:f => f} %>
    <p><%= submit_tag l(:button_create) %>
    
<%#= link_to l(:label_preview), 
  { :url => { :controller => 'surveys', :action => 'preview', :project_id => @project },
    :method => 'post',
    :remote => true,
    :update => 'preview',
    :with => "jQuery('#survey-form').serialize()",
    :complete => "jQuery('#preview').scrollTop(0)"
  }, :accesskey => accesskey(:preview) %> |
<%#= link_to l(:button_cancel), "#", :onclick => 'jQuery("#add-survey").hide()' %></p>
  <% end %>
<div id="preview" class="wiki"></div>
 
